<div id="form-wrapper"
  <form 
    hx-post="/createticket"
    hx-target="#form-wrapper"
    hx-swap="outerHTML"
    hx-on="htmx:afterRequest: document.getElementById('ticket-list').dispatchEvent(new Event('refresh'))"
  >
      <label for="ticket_title">Title:</label><br>
      <input type="text" id="ticket_title" name="ticket_title"><br>
      <label for="ticket_body">Body:</label><br>
      <input type="text" id="ticket_body" name="ticket_body"><br>
      <label for="priority">Priority:</label><br>
      <input type="radio" name="priority" value="MINOR">MINOR</label><br>
      <input type="radio" name="priority" value="MAJOR">MAJOR</label><br>
      <input type="radio" name="priority" value="CATASTROPHIC">CATASTROPHIC</label><br>
      <button type="submit">Submit</button>
    </form>
</div>
